<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>

      <h2>Please correct the errors</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

  <% end %>

  <%= form_for @user do |f| %>

    <%= f.label :name %><br />
    <%= f.text_field :name %><br />

    <%= f.label :surname %><br />
    <%= f.text_field :surname %><br />

    <%= f.label :address %><br />
    <%= f.text_field :address %><br />

    <%= f.label :phone %><br />
    <%= f.text_field :phone %><br />

    <%= f.label :email %><br />
    <%= f.email_field :email %><br />

    <%= f.label :password %><br />
    <%= f.password_field :password %><br />

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %><br /><br />

  <%= f.submit "Sign Up" %>

  <% end %>

  <p><strong>Already have an account?</strong></p>
  <%= link_to 'Log in', login_path %><br /><br />

<% end %>
